:root {
  --color-bg: #ffffff;
  --color-fg: #000000;
  --link-default: #0066CC;
  --link-visited: #551A8B;
  --button-bg: #d0d0d7;
  --toggle-string: " dark mode"
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
  --link-default: #ff9933;
  --link-visited: #aae574;
  --toggle-string: " light mode"
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: var(--color-bg); }

html { height: 100%; }

body {
  color: var(--color-fg);
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid var(--color-fg);
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: var(--color-bg);
  background: var(--color-fg);
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid var(--color-fg);
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

a {
  color: var(--link-default)
}

a:visited {
  color: var(--link-visited)
}

.toggle {
  border: none;
  border-radius: 5px;
  background-color: var(--button-bg);
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 16px;
  position: fixed;
}

.toggle:hover::after {
  content: var(--toggle-string);
  font-family: monospace;
}

.invert {
  filter: invert(1);
}