---
---

@import "no-style-please";

.yt-video-container {
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.yt-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}
.yt-video-container::before {
    content: "loading";
    animation-name: loading;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    0%      { content: "loading" }
    25%     { content: "loading." }
    50%     { content: "loading.." }
    75%     { content: "loading..." }
    100%     { content: "loading" }
}

.yt-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.darkmode-toggle {
    color: #fff;
}

.darkmode-toggle--white {
    color: #000;
}